@{
    ViewData["Title"] = "Home Page";
}
@using SampledotNetWebApp.Models;

<h1>First Name: @Model.FirstName</h1>
<br>
<h1>Middle Initial: @Model.MiddleInitial</h1>
<br>
<h1>Last Name: @Model.LastName</h1>
<br>
<h1>Age: @Model.Age</h1>